version: '3.8'
services:
  app:
    build: .
    ports:
      - "8000:8000"
      - "8501:8501"
    environment:
      - NVIDIA_API_KEY=${NVIDIA_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
    volumes:
      - ./:/app
