streamlit
python-dotenv

langchain
langchain-core
langchain-community
tavily-python
langchain-tavily
langgraph
langchain-nvidia-ai-endpoints

fastapi
uvicorn
requests

transformers
torch
tensorboard

